obj
skyAmazonClient/skyAmazonClient.v12.suo
skyAmazonClient/skyAmazonClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
skyAmazonClient/skyAmazonClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
skyAmazonClient/skyAmazonClient.v12.suo
bin
/skyAmazonClient/MarketplaceWebServiceOrders/bin
/skyAmazonClient/MWSClientCsRuntime/bin
/skyAmazonClient/skyAmazonClient/bin
/skyAmazonClient/skyCommon/bin
